<style type="text/css">
	.qback {
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, .3);
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9999999999999999999999
	}
	
	.alertBox {
		width: 452px;
		height: auto;
		padding: 0 15px 20px;
		box-sizing: border-box;
		background: #fff;
		border-radius: 8px;
		position: relative;
		top: 50%;
		left: 50%;
		margin: -167px 0 0 -226px
	}
	
	.alertHead {
		width: 100%;
		height: 45px;
		border-bottom: 1px solid #99bafa;
		font-size: 16px;
		color: #333;
		line-height: 45px;
		text-align: center
	}
	
	.alertMes {
		width: 100%;
		height: auto;
		overflow: hidden;
		padding: 25px 40px 35px;
		text-align: center;
		font-size: 16px;
		color: #333;
		box-sizing: border-box;
		line-height: 28px
	}
	
	.alertBtn {
		display: block;
		width: 100px;
		height: 34px;
		line-height: 34px;
		background-color: #3475f5;
		cursor: pointer;
		font-size: 14px;
		color: #fff;
		border-radius: 4px;
		border: 1px solid transparent;
		margin: 0 auto;
		text-align: center
	}
	
	.ConBtn {
		display: inline-block;
		width: 100px;
		height: 34px;
		line-height: 34px;
		background-color: #3475f5;
		cursor: pointer;
		font-size: 14px;
		color: #fff;
		border-radius: 4px;
		border: 1px solid transparent;
		text-align: center;
		margin-left: 84px;
		margin-right: 47px
	}
	
	.cancel {
		display: inline-block;
		width: 100px;
		height: 34px;
		line-height: 34px;
		background: fff;
		cursor: pointer;
		font-size: 14px;
		color: #3475f5;
		border-radius: 4px;
		border: 1px solid transparent;
		text-align: center;
		border: 1px solid #3475f5
	}
	
	.ToastBox {
		width: 452px;
		height: auto;
		padding: 15px 20px;
		text-align: center;
		background: rgba(0, 0, 0, .5);
		color: #fff;
		font-size: 16px;
		border-radius: 8px;
		line-height: 24px;
		position: relative;
		top: 50%;
		left: 50%;
		margin: 0 0 0 -226px
	}
	
</style>

<script language="javascript">
function changePw()
{
	var pw = $("#webpasswd").val();
	if(pw=="")return;
	$.get( "?c=session&a=changePassword&passwd="+pw,
            function(data){ alert(data); }
        );
}
function changeDb()
{
	var pw = $("#dbpasswd").val();
	if(pw=="")return;
	$.get( "?c=session&a=changeDbPassword&passwd="+pw,
            function(data){ alert(data); }
        );
}
</script>
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>修改密码</h1>
            <div class="section-header-breadcrumb">
            </div>
          </div>
          <div class="row">
          <div class="col-xs-12">
          <div class="card-box">
		  <div class="section-body">
            <h2 class="section-title">账户密码</h2>
            <div class="row mt-sm-4">
              <div class="col-lg-6">
                <div class="card card-large-icons">
                  <div class="card-icon bg-primary text-white">
                    <i class="fas fa-lock"></i>
                  </div>
                  <div class="card-body">
				  	{{if $user.cdn==0}}
                    <h4>登录密码 / FTP密码</h4>
					{{/if}}
					{{if $user.cdn==1}}
                    <h4>登录密码</h4>
					{{/if}}
                    <p>定期修改为高强度密码以保护您的账号</p>
                    <a href="##"id="ftpPassword" class="card-cta" data-toggle="modal" data-target="#change-password-modal">立即修改 <i class="fas fa-chevron-right"></i></a>
                  </div>
                </div>
              </div>
               {{if $db_limit}}
              <div class="col-lg-6">
                <div class="card card-large-icons">
                  <div class="card-icon bg-primary text-white">
                    <i class="fas fa-shield-alt"></i>
                  </div>
                  <div class="card-body">
                    <h4>Mysql密码</h4>
                                        <p>定期修改为高强度密码以保护您的账号</p>
                    <a href="##" id="mySqlPassword" class="card-cta" data-toggle="modal" data-target="#ga-modal">立即修改 <i class="fas fa-chevron-right"></i></a>
                                      </div>
                </div>
              </div>
			{{/if}}
            </div>
          </div>

		</div>
	  </div>
</div>
<script>
    	var Ealt = new Eject()
    	var tanChuang;
		var BoxtanChuang;
		var t
    	$('#ftpPassword').bind('click',function(){
    		Ealt.Econfirm1({
	    		title:'修改密码',
	    		message:'请输入密码： <input type="password" class="form-control" name="passwd" id="webpasswd">',
	    		define:function(){
	    			alert('您点击了确定')
	    		},
	    		cancel:function(){
	    			alert('您点击了取消')
	    		}
	    	})
    	})
		$('#mySqlPassword').bind('click',function(){
    		Ealt.Econfirm2({
	    		title:'修改密码',
	    		message:"请输入密码： <input type='password' class='form-control' name='passwd' id='dbpasswd' />",
	    		define:function(){
	    			alert('您点击了确定')
	    		},
	    		cancel:function(){
	    			alert('您点击了取消')
	    		}
	    	})
    	})
		function Eject() {
			var _this = this;
			var qback = $('<div class="qback"></div>')
			tanChuang=qback;
			
			_this.Econfirm1 = function(obj) {
				var confirmBox = $('<div class="alertBox"></div>')
				BoxtanChuang=confirmBox
				var confirmHead = $('<div class="alertHead">' + obj.title + '</div>')
				var confirmMes = $('<form name="frm" action="javascript:changePw();" method="post" class="form-inline"><div class="alertMes">' + obj.message + '</div><input type="submit" value="确定" class="ConBtn"><span class="cancel" onclick="quXiao()">取消</span></form>')
				confirmBox.append(confirmHead);
				confirmBox.append(confirmMes);
				qback.append(confirmBox);
				$('body').append(qback);
				confirmBox.css({
					'marginTop': -confirmBox.outerHeight() / 2 + 'px'
				});
			}
			
			_this.Econfirm2 = function(obj) {
				var confirmBox = $('<div class="alertBox"></div>')
				BoxtanChuang=confirmBox
				var confirmHead = $('<div class="alertHead">' + obj.title + '</div>')
				var confirmMes = $('<form name="frm" action="javascript:changeDb();" method="post" class="form-inline"><div class="alertMes">' + obj.message + '</div><input type="submit" value="确定" class="ConBtn"><span class="cancel" onclick="quXiao()">取消</span></form>')
				confirmBox.append(confirmHead);
				confirmBox.append(confirmMes);
				qback.append(confirmBox);
				$('body').append(qback);
				confirmBox.css({
					'marginTop': -confirmBox.outerHeight() / 2 + 'px'
				});
			}
		}
		function quXiao() {
					tanChuang.remove()
					BoxtanChuang.remove()
				}
</script>
